<header>
    <div class="logo">
        <img src="Assets/company-logo.png" alt="Company Logo">
    </div>
    <nav>
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="service-areas.html">Service Areas</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
</header>
